
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden; /* lei que es para evitar el desbordamiento horizontal */
}
/*colores sitio #FFFFEC #F1E4C3 #C6A969 #597E52 
rgb(255, 255, 236) rgb(241, 228, 195) rgb(198, 169, 105) rgb(89, 126, 82) y rgb(86, 59, 12)*/

                                    /* General header*/
.header{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.contenedor-ltf {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #597E52;
    padding: 10px;
    width: 100%;
}
.contenedor-ltf a img{
 width: 10rem;  
 margin: 0px 0px -4px 0px;
} 
/*.contenedor-ltf a img {
    width: 6.25rem;
} */

.contenedor-tf{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #597E52;
}
.titulo-sitio {
    font-family: "Simonetta", serif;
    font-size: 64px;
    font-weight: 600;
    font-style: normal;
    color:#ffffff;
    background-color: #597E52;
}
.frase-sitio{
    font-family:"Indie Flower", cursive;
    font-size: 48px;
    font-weight: 50;
    font-style: italic;
    color:#ffffec;
    background-color: #597E52;
} 
.navbar {
    color: rgb(86, 59, 12);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 5px 0px 5px 0px;
    list-style:none;
}
.navbar a{
    color: rgb(86, 59, 12);
    text-decoration: none;
}
.navbar li{
    text-decoration: none;
    list-style:none;
    text-align: center;
    padding: 10px; 
    font-family: "Simonetta", serif;
    font-style: normal;
    font-weight: 600;
}
.navbar-container {
    display: flex;
}
/* .navbar-carrito {
    display: flex;
    width: 4%;
    justify-content: flex-end;
    
} */
/* .navbar-carrito li{
    text-decoration: none;
    list-style:none;
    padding: 10px;
    font-family: "Simonetta", serif;
    font-style: normal;
    font-weight: 600;
} */

/*.navbar li a:visited {
    color: rgb(11, 34, 11);
}*/
.navbar-carrito li a img{
    width: 2.5rem;
}
.caja-menu {
    background-color: #F1E4C3;
    border-radius: 10px;
    padding: 2px;
    width: 6.8rem;
}
.caja-menu a{
    text-align: center;
}

.caja-menu-vista {
    background-color: #C6A969;
    border-radius: 10px;
    padding: 2px;
    width: 6.8rem;
    /*averiguar si se hace de otra manera para que cambie de color al estar en esa vista*/
}
.caja-menu-carrito a img{
    width: 2.5rem;
}
/*#hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; /*  para quitar espacios alrededor de la imagen 
} boton eliminado*/
.navbar-responsive {
    display: none;
    flex-direction: column;
    background-color: #597E52;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
}

.hamburger-icon {
    width: 23px;
    height: 23px;  /* tamaño de la imagen hamburguesa */
}

.navbar-info-container{
    display: none;
}
.navbar-responsive {
    display: none;
}
.checkbox-menu-hamburguesa {
    display: none;
    position: absolute; 
    opacity: 0; 
    width: 0;
    height: 0;
}
.hamburguesa-label {
    display: none; /* Oculto para resoluciones grandes */
    cursor: pointer;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


                                /* General footer*/

.footer{
    background-color: #597E52;
    height: 50px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.footer a{
    margin: 10px;
    text-decoration: none;
    list-style:none;
}


.links{
    text-decoration: none;
    list-style:none;
    display: flex;
    flex-direction: row;
    gap: .625rem;
    margin: 10px;
}
.links li a img{
    width: 30px;
}
                                    /* Home main*/
.descripcion{
    width: 100%;
}
.elegirnos{
    width: 100%;
}
.descripcion p{
    font-family:"Indie Flower", cursive;
    font-size: 40px;
    font-weight: 50;
    font-style: regular;
    color:#C6A969;
    text-align: center;
    padding: 20px;
}
.elegirnos h1{
    padding: 20px;
    font-family:"Indie Flower", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: rgb(86, 59, 12);
    text-align: center;
}
.cualidades {
    padding: 9px;
    display: flex;
    flex-direction: row;
    gap: .625rem;
    width: 100%;
    
}
.cualidades h2{
    padding: 10px;
    color: rgb(86, 59, 12);
    font-family:"Indie Flower", cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;

}
.cualidad p{
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #C6A969;
    font-size: 22px;
    text-align: center;
}

.cualidades img{
    width: 6rem;
}

.cualidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}
.cualidad-imgtx{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    text-align: justify;

}
.titulo-carrito h1{
text-align: center;
}

                                    /* productos main*/

.contenedor-productos h1{
    padding: 20px;
    font-family:"Indie Flower", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: rgb(86, 59, 12);
    text-align: center;
}
.articles {
    display: flex;
}
.article-image img{
width: 7%;
}
.articles h2{
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(86, 59, 12);
    font-size: 20px;
}
.articles p{
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(86, 59, 12);
    font-size: 16px;  
}
#precio{
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #597E52;
    font-size: 16px;
}

.articles button{
    padding: 5px;
    font-family:"Indie Flower", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgb(86, 59, 12);
    text-align: center;
    border-radius: 5px;
    border-color: #C6A969;   
}

                                                /* servicios*/
.article-serv-image img{
    width: 7%;
    }
    .contenedor-servicios h1{
        padding: 20px;
        font-family:"Indie Flower", cursive;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        color: rgb(86, 59, 12);
        text-align: center;
    }
    .articles-serv p{
        padding: 5px;
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-style: normal;
        color: rgb(86, 59, 12);
        font-size: 16px;  
    }
    .articles-serv button{
        padding: 5px;
        font-family:"Indie Flower", cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFEC;
        text-align: center;
        border-radius: 5px;
        /*border-color: #C6A969;   */
        border: none;
        background-color: #597E52;
        cursor: pointer;
    }
.media-ejemplo img{
    width: 7%;
}
                                            /* Info */
.grid-container{
    width: 100%;
    height: 110rem; 
    display: grid;
    justify-items: center;
    grid-template-columns: 10% 90%;
    grid-template-rows: 110rem; 
    grid-template-areas: 
    "menu-izq-info contenedor-info";
}
.menu-izq-info {
    grid-area: menu-izq-info;
}
.ul-menu-izq-info {
    text-decoration: none;
    list-style:none;
}
.ul-menu-izq-info a {
    text-decoration: none;
    list-style:none;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgb(86, 59, 12);
    font-size: 16px;  
}
.ul-menu-izq-info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.25rem;
    padding-top: 1.25rem;
    position: fixed;
    left: 0;
    z-index: 1000;
}
.contenedor-info {
    grid-area: contenedor-info;
}
.contenedor-info {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40rem 60rem;
    grid-template-areas:
    "envios"
    "cuidados";
}
.envios {grid-area: envios;}
.cuidados {grid-area: cuidados;}

.articles-envio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
    "article-envio-image article-envio-text article-envio-text article-envio-text article-envio-text"
    "article-envio-image article-envio-text article-envio-text article-envio-text article-envio-text"
    "article-envio-image article-envio-text article-envio-text article-envio-text article-envio-text"
    ;
    align-items: center;
}
.article-envio-image {
    grid-area: article-envio-image;
    justify-self: center;
    width: 50%;
}
.article-envio-text{
    grid-area: article-envio-text;
    }


.articles-cuidados {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    grid-template-areas:
    "article-info-1"
    "article-info-2"
    "article-info-3"
    "article-info-4";
    
}
.article-info-1 {
    grid-area: article-info-1;}
.article-info-2 {
    grid-area: article-info-2;}
.article-info-3 {
    grid-area: article-info-3;}
.article-info-4 {
    grid-area: article-info-4;}

.article-info-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
    "rec-img-1 rec-titulo-1 rec-titulo-1 rec-titulo-1 rec-titulo-1"
    "rec-img-1 rec-texto-1 rec-texto-1 rec-texto-1 rec-texto-1"
    "rec-img-1 rec-texto-1 rec-texto-1 rec-texto-1 rec-texto-1"
    ;
    align-items: center;
}
.rec-img-1 {grid-area: rec-img-1;
justify-self: center;}
.rec-titulo-1 {grid-area: rec-titulo-1;} 
.rec-texto-1 {grid-area: rec-texto-1;}

.article-info-1 img{
width: 50%;
}
.article-info-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
    "rec-img-2 rec-titulo-2 rec-titulo-2 rec-titulo-2 rec-titulo-2"
    "rec-img-2 rec-texto-2 rec-texto-2 rec-texto-2 rec-texto-2"
    "rec-img-2 rec-texto-2 rec-texto-2 rec-texto-2 rec-texto-2"
    ;
    align-items: center;
}
.rec-img-2 {grid-area: rec-img-2;
    justify-self: center;}
.rec-titulo-2 {grid-area: rec-titulo-2;} 
.rec-texto-2 {grid-area: rec-texto-2;}

.article-info-2 img{
width: 50%;
}

.article-info-3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
    "rec-img-3 rec-titulo-3 rec-titulo-3 rec-titulo-3 rec-titulo-3"
    "rec-img-3 rec-texto-3 rec-texto-3 rec-texto-3 rec-texto-3"
    "rec-img-3 rec-texto-3 rec-texto-3 rec-texto-3 rec-texto-3"
    ;
    align-items: center;
}
.rec-img-3 {grid-area: rec-img-3;justify-self: center;}
.rec-titulo-3 {grid-area: rec-titulo-3;} 
.rec-texto-3 {grid-area: rec-texto-3;}

.article-info-3 img{
width: 50%;
}

.article-info-4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
    "rec-img-4 rec-titulo-4 rec-titulo-4 rec-titulo-4 rec-titulo-4"
    "rec-img-4 rec-texto-4 rec-texto-4 rec-texto-4 rec-texto-4"
    "rec-img-4 rec-texto-4 rec-texto-4 rec-texto-4 rec-texto-4"
    ;
    align-items: center;
}
.rec-img-4 {grid-area: rec-img-4;justify-self: center;}
.rec-titulo-4 {grid-area: rec-titulo-4;} 
.rec-texto-4 {grid-area: rec-texto-4;}

.article-info-4 img{
width: 50%;
}

.contenedor-info h1{
    padding: 20px;
    font-family:"Indie Flower", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: rgb(86, 59, 12);
    text-align: center;
}
.contenedor-info p{
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(86, 59, 12);
    font-size: 20px;
    text-align: justify;  
}
.contenedor-info h2{
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(86, 59, 12);
    font-size: 18px;
    text-align: justify;  
}
.article-info-image img{
    width: 20%;
}
                              /* -----@media Info----- */
                              /* -----media 320-533----- */
                             
@media (max-width: 533px) {

    .navbar {
        gap: 0.1rem;
    }
    .ul-menu-izq-info a {
        font-size: 14px;
    }
    .contenedor-ltf a img{
     width: 3.5rem;  
     margin: 0px 0px -4px 0px;
    } 
    .contenedor-tf{
        flex-wrap: wrap;
    } 
    .navbar {
        color: rgb(86, 59, 12);
        gap: 0,5rem;
        width: 100%;
        padding: 3px 0px 3px 0px;
    }
    .navbar li{
        text-align: center;
        padding: 3px;
    } 
    .caja-menu{
            padding: 1px;
            width: 5rem;
    }
    .caja-menu a{
        font-size: 0.7rem;
    }
    .caja-menu-vista a{
        font-size: 0.7rem;
    }
    .caja-menu-carrito a img{
        width: 1rem;
    }
    .hamburguesa-label {
        display: block;
        padding-left: 1px;
    }
    /* Ocultar el menú original */
    .navbar-container {
        display: none;    
    }

    /* Mostrar el menú hamburguesa 
    .checkbox-menu-hamburguesa {
        display: block;
        margin-right: 5px;
    }*/

    /*#hamburger-button {
        background: none;
        border: none;
        cursor: pointer;
    }

    /* Reorganizar el header para la versión móvil */
    .contenedor-ltf {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #597E52;
        justify-content: space-between;
        padding: 1px;
        width: 100%;
    }
    .contenedor-tf {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .titulo-sitio {
        font-size: 19px; 
        color: #ffffff;
    }
    .frase-sitio {
        font-size: 14px;
        color: #ffffec;
    }
    /* paso Información y carrito a la parte inferior del header */
    .navbar-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .caja-menu-vista-info {
        background-color: #C6A969;
        border-radius: 10px;
        padding: 5px;
        font-family: "Simonetta", serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: rgb(86, 59, 12);
    }
    .caja-menu-carrito img {
        width: 2rem;
    }

    /* Menú hamburguesa desplegable */
    .navbar-responsive {
        display: none;
        flex-direction: column;
        background-color: #597E52;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }
    .checkbox-menu-hamburguesa:checked ~ #navbar-responsive {
        display: flex;
    }
    .navbar-responsive ul {
        list-style: none;
    }
    .navbar-responsive li {
        padding: 10px;
    }
    .navbar-responsive a {
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
    }
    
}





/* la parte del grid */
    .grid-container {
        height: 170rem;
        grid-template-columns: 15% 85%;
    }
    .contenedor-info h1 {
        padding: 10px;
        font-size: 28px;
    }
    .contenedor-info p {
        padding: 10px;
        font-size: 16px;
    }
    .contenedor-info h2{
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
    }
    .articles-envio {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 8rem 28rem;
        grid-template-areas:
        "article-envio-image"
        "article-envio-text";
        align-items: center;
    }
    .article-envio-image {
        width: 20%;
        }
    .articles-cuidados {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30rem 30rem 30rem 30rem;
        grid-template-areas:
        "article-info-1"
        "article-info-2"
        "article-info-3"
        "article-info-4";      
    }
    .article-info-1 {
        grid-area: article-info-1;}
    .article-info-2 {
        grid-area: article-info-2;}
    .article-info-3 {
        grid-area: article-info-3;}
    .article-info-4 {
        grid-area: article-info-4;}

    .article-info-1 {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 70%;
        grid-template-areas:
        "rec-titulo-1"
        "rec-img-1"
        "rec-texto-1";
        align-items: center;
    }
    .rec-img-1 {grid-area: rec-img-1;justify-self: center;}
    .rec-titulo-1 {grid-area: rec-titulo-1;justify-self: center;
    } 
    .rec-texto-1 {grid-area: rec-texto-1; justify-self: center;}
    .article-info-1 img{
    width: 20%;
    }
    .article-info-2 {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 70%;
        grid-template-areas:
        "rec-titulo-2"
        "rec-img-2"
        "rec-texto-2";
        align-items: center;
    }
    .rec-img-2 {grid-area: rec-img-2;
        justify-self: center;}
    .rec-titulo-2 {grid-area: rec-titulo-2;justify-self: center;} 
    .rec-texto-2 {grid-area: rec-texto-2;justify-self: center;}
    .article-info-2 img{
    width: 20%;
    }
    .article-info-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 70%;
    grid-template-areas:
    "rec-titulo-3"
    "rec-img-3"
    "rec-texto-3";
    align-items: center;
    }
    .rec-img-3 {grid-area: rec-img-3;justify-self: center;}
    .rec-titulo-3 {grid-area: rec-titulo-3;justify-self: center;} 
    .rec-texto-3 {grid-area: rec-texto-3;justify-self: center;}
    .article-info-3 img{
    width: 20%;
    }
    .article-info-4 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 70%;
    grid-template-areas:
    "rec-titulo-4"
    "rec-img-4"
    "rec-texto-4";
    align-items: center;
    }
    .rec-img-4 {grid-area: rec-img-4;justify-self: center;}
    .rec-titulo-4 {grid-area: rec-titulo-4;justify-self: center;} 
    .rec-texto-4 {grid-area: rec-texto-4;justify-self: center;}
    .article-info-4 img{
    width: 20%;
    }
}
    

                                    /* -----media 520-722----- */
@media (min-width: 534px) AND (max-width: 722px) {

    .ul-menu-izq-info a {
        font-size: 16px;
    }
    .contenedor-ltf a img{
     width: 7rem;  
     margin: 0px 0px -4px 0px;
    } 
    .contenedor-tf{
        flex-wrap: wrap;
    }
    .titulo-sitio {
        font-size: 34px;
    }
    .frase-sitio{
        font-size: 25px;
    } 
    .navbar {
        color: rgb(86, 59, 12);
        gap: 0.5rem;
        width: 100%;
        padding: 3px 0px 3px 0px;
    }
    .navbar li{
        text-align: center;
        padding: 8px;
    } 
    .caja-menu{
            padding: 1px;
            width: 5rem;
    }
    .caja-menu a{
        font-size: 0.9rem;
    }
    .caja-menu-vista a{
        font-size: 0.9rem;
    }
    .caja-menu-carrito a img{
        width: 1.8rem;
    }
    .grid-container {
        height: 160rem;
        grid-template-columns: 15% 85%;
    }
    .contenedor-info h1 {
        padding: 10px;
        font-size: 28px;
    }
    .contenedor-info p {
        padding: 10px;
        font-size: 16px;
    }
    .contenedor-info h2{
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
    }
    .articles-envio {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 8rem 32rem;
        grid-template-areas:
        "article-envio-image"
        "article-envio-text";
        align-items: center;
    }
    .article-envio-image {
        width: 20%;
        }
    .articles-cuidados {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30rem 30rem 30rem 30rem;
        grid-template-areas:
        "article-info-1"
        "article-info-2"
        "article-info-3"
        "article-info-4";      
    }
    .article-info-1 {
        grid-area: article-info-1;}
    .article-info-2 {
        grid-area: article-info-2;}
    .article-info-3 {
        grid-area: article-info-3;}
    .article-info-4 {
        grid-area: article-info-4;}

    .article-info-1 {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 70%;
        grid-template-areas:
        "rec-titulo-1"
        "rec-img-1"
        "rec-texto-1";
        align-items: center;
    }
    .rec-img-1 {grid-area: rec-img-1;justify-self: center;}
    .rec-titulo-1 {grid-area: rec-titulo-1;justify-self: center;
    } 
    .rec-texto-1 {grid-area: rec-texto-1; justify-self: center;}
    .article-info-1 img{
    width: 20%;
    }
    .article-info-2 {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 70%;
        grid-template-areas:
        "rec-titulo-2"
        "rec-img-2"
        "rec-texto-2";
        align-items: center;
    }
    .rec-img-2 {grid-area: rec-img-2;
        justify-self: center;}
    .rec-titulo-2 {grid-area: rec-titulo-2;justify-self: center;} 
    .rec-texto-2 {grid-area: rec-texto-2;justify-self: center;}
    .article-info-2 img{
    width: 20%;
    }
    .article-info-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 70%;
    grid-template-areas:
    "rec-titulo-3"
    "rec-img-3"
    "rec-texto-3";
    align-items: center;
    }
    .rec-img-3 {grid-area: rec-img-3;justify-self: center;}
    .rec-titulo-3 {grid-area: rec-titulo-3;justify-self: center;} 
    .rec-texto-3 {grid-area: rec-texto-3;justify-self: center;}
    .article-info-3 img{
    width: 20%;
    }
    .article-info-4 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 70%;
    grid-template-areas:
    "rec-titulo-4"
    "rec-img-4"
    "rec-texto-4";
    align-items: center;
    }
    .rec-img-4 {grid-area: rec-img-4;justify-self: center;}
    .rec-titulo-4 {grid-area: rec-titulo-4;justify-self: center;} 
    .rec-texto-4 {grid-area: rec-texto-4;justify-self: center;}
    .article-info-4 img{
    width: 20%;
    }
}

                                    /* -----media 720-930----- */
@media (min-width: 723px) AND (max-width: 935px) { 
    .titulo-sitio {
        font-size: 46px;
    }
    .frase-sitio{
        font-size: 34px;
    } 
    .navbar {
        gap: 1.7rem;
    }
    .grid-container{
        width: 100%;
        height: 206rem; 
        display: grid;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-rows: 6rem 200rem; 
        grid-template-areas: 
        "menu-izq-info" 
        "contenedor-info";
    }
    .menu-izq-info {
        grid-area: menu-izq-info;
    }
    .ul-menu-izq-info {
        text-decoration: none;
        list-style:none;
    }
    .ul-menu-izq-info a {
        text-decoration: none;
        list-style:none;
        padding: 5px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgb(86, 59, 12);
        font-size: 16px;  
    }
    .ul-menu-izq-info{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1.25rem;
        padding-top: 1.25rem;
        position: fixed;
        left: 0;
        z-index: 1000;
    }    
    .contenedor-info {
        grid-area: contenedor-info;
    }
    .contenedor-info {
        width: 70%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50rem 150rem;
        grid-template-areas:
        "envios"
        "cuidados";
    }
    .envios {grid-area: envios;}
    .cuidados {grid-area: cuidados;}
    .articles-envio {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 20rem 25rem;
        grid-template-areas:
        "article-envio-image article-envio-text"
        "article-envio-image article-envio-text";
        align-items: center;
    }
    .article-envio-image {
        grid-area: article-envio-image;}
    .article-envio-text{
        grid-area: article-envio-text;}
    .article-envio-image {
        width: 50%;
        }    
    .articles-cuidados {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35rem 35rem 35rem 35rem;
        grid-template-areas:
        "article-info-1"
        "article-info-2"
        "article-info-3"
        "article-info-4";      
    }
    .article-info-1 {
        grid-area: article-info-1;}
    .article-info-2 {
        grid-area: article-info-2;}
    .article-info-3 {
        grid-area: article-info-3;}
    .article-info-4 {
        grid-area: article-info-4;}
    
    .article-info-1 {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 20% 80%;
        grid-template-areas:
        "rec-img-1 rec-titulo-1"
        "rec-img-1 rec-texto-1"
        "rec-img-1 rec-texto-1";
        align-items: center;
    }
    .rec-img-1 {grid-area: rec-img-1;
    justify-self: center;}
    .rec-titulo-1 {grid-area: rec-titulo-1;} 
    .rec-texto-1 {grid-area: rec-texto-1;}
    
    .article-info-1 img{
    width: 50%;
    }
    .article-info-2 {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 20% 80%;
        grid-template-areas:
        "rec-img-2 rec-titulo-2"
        "rec-img-2 rec-texto-2"
        "rec-img-2 rec-texto-2";
        align-items: center;
    }
    .rec-img-2 {grid-area: rec-img-2;
        justify-self: center;}
    .rec-titulo-2 {grid-area: rec-titulo-2;} 
    .rec-texto-2 {grid-area: rec-texto-2;}
    
    .article-info-2 img{
    width: 50%;
    }
    .article-info-3 {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 20% 80%;
        grid-template-areas:
        "rec-img-3 rec-titulo-3"
        "rec-img-3 rec-texto-3"
        "rec-img-3 rec-texto-3"
        ;
        align-items: center;
    }
    .rec-img-3 {grid-area: rec-img-3;justify-self: center;}
    .rec-titulo-3 {grid-area: rec-titulo-3;} 
    .rec-texto-3 {grid-area: rec-texto-3;}
    .article-info-3 img{
    width: 50%;
    }
    .article-info-4 {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 20% 80%;
        grid-template-areas:
        "rec-img-4 rec-titulo-4"
        "rec-img-4 rec-texto-4"
        "rec-img-4 rec-texto-4"
        ;
        align-items: center;
    }
    .rec-img-4 {grid-area: rec-img-4;justify-self: center;}
    .rec-titulo-4 {grid-area: rec-titulo-4;} 
    .rec-texto-4 {grid-area: rec-texto-4;}
    
    .article-info-4 img{
    width: 50%;
    }
    .contenedor-info h1{
        padding: 20px;
        font-size: 36px;
    }
    .contenedor-info p{
        padding: 5px;
        font-size: 20px; 
    }
    .article-info-image img{
        width: 20%;
    }
} 

/* --------------------------------------------- contacto --------------------------------------*/
.datos h1{
    padding: 20px;
    font-family:"Indie Flower", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: rgb(86, 59, 12);
    text-align: center;
}
.datos p{
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(86, 59, 12);
    font-size: 16px;  
}
.formulario h1{
    padding: 20px;
    font-family:"Indie Flower", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: rgb(86, 59, 12);
    text-align: center;
}
.img-fondo img{
opacity: 10%;
width: 50%;
/* buscar como hacer que quede mejor esta img */
}
.campos {
padding: 5px;
background-color: #F1E4C3;
border-radius: 2px;
}
.campos p{
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(86, 59, 12);
    font-size: 16px; 
    height: 50px;
    border: #597E52;
}

/* comento porque no queda bien
.main{
    background-image: url("../assets/img/floral-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 20%;
} */

/* ejemplo para hacer que footer quede al final cuando no hay contenido - no funciona-
.body{
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  display: table;
  width: 100%;
  height: 13vh;
}
*/



/* Fuentes */
.simonetta-regular {
    font-family: "Simonetta", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .simonetta-black {
    font-family: "Simonetta", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .simonetta-regular-italic {
    font-family: "Simonetta", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .simonetta-black-italic {
    font-family: "Simonetta", serif;
    font-weight: 900;
    font-style: italic;
  }
  .indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }